# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite

# Django migrations
*/migrations/*

# Django static files
staticfiles/
static/

# Django media files
media/

# Django settings local file
settings_local.py

# macOS
.DS_Store

# PyCharm
.idea/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Pycharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Bandit
.bandit

# Celery beat schedule file
celerybeat-schedule

# Pipenv
Pipfile.lock

# Pycharm
.idea/

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# C extensions
*.so

# IntelliJ
*.iml
*.ipr
*.iws

# Sublime Text
*.sublime-project
*.sublime-workspace

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# Editor settings
*.sublime-workspace
